anyio
asgiref
certifi
charset-normalizer
click
colorama
Django
exceptiongroup
greenlet
h11
idna
Pillow
pip
pydantic
requests
setuptools
sniffio
SQLAlchemy
sqlparse
starlette
typing_extensions
tzdata
urllib3
uvicorn
wheel